<!doctype html>
<html>
<head><title>My List</title>
	<link rel="stylesheet" href="/bootstrap.css">
	<link rel="stylesheet" href="/style.css">
</head>


<body>
	 <div class="container">
      <div class="row">


		  <%= yield %>
	   </div>
     </div> 

</body>
</html>



