<table>
	<h1>Users</h1>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
 
  <tr>
    <td><%= @row['id'] %></td>
    <td><%= @row['name'] %></td>
    <td><%= @row['price'] %></td>
  </tr>

</table>
<p>
<a href="/products">
		Products page
	</a></li>
</p>
<p>
	<a href="/">
		Go Home
	</a>