<h1>Product Created</h1>

	<p>
		The product <%= @name %> 
		has been created
	<p>

		<a href="/new_product">
			Create Another
		</a>

	<p>
	<a href="/products">
		Products page
	</a>
<p>
	<a href="/">
		Go Home
	</a>