<h1>You searched for <%= @q %></h1>
<% @results["items"].each do |result| %>
<div>

<img src=<%= result["product"]["images"][0]["link"] %>>
<p><%= result["product"]["title"] %></p>
<p><a href=<%= result["product"]["link"] %>>Search More</a></p>
</div>
<% end %>

<!-- resultproduct.title
product.link
product.images[0]

</p> -->
  
